html{
  --color-bg-input-lightgray: #F5F5F5;
  --color-text-gray-light2: #EDEDED;
  --color-text-gray-light: #909090;
  --color-text-gray-lighter: #8b8b8b;
  --color-text-gray-normal: #656565;
  --color-bg-primary: #2E2E2E;
  --color-bg-gray-lighter: #fafafa;
  --color-bg-gray-light: #f6f6f6;
  --color-bg-gray-light2: #eaeaea;
  --color-bg-gray-dark: #353535;
  --color-bg-gray-darker: #2E2E2E;
  --color-bg-gray-darker2: #211C24;
  --color-btn-primary: #000;
  --color-primary: #6AAFEA;
  --color-primary-darker: #353535;
  --color-gray-1: #E0E4EC;
  --color-gray-2: #EDF2F6;
  --color-gray-3: #8D98AA;
  
  --color-secondary: #002F3D;
  --color-text-success:#3CD139;
  --color-text-warning: #E3B231;
  --color-text-danger: #e33131;
  --color-bg-success: rgba(60,209,57,0.10);
  --color-bg-warning: rgba(227,178,49,0.10);
  --color-bg-danger: rgba(227, 49, 49, 0.1);

  /* colors */
  --magenta: #883DCF;
  --blue-light: #2BB2FE;
  --blue-light-2: #E7F4FC;
  --orange: #F86624;
  --orange-2: #F7981D;
  --green: #25E17B;
  --green-2: #37DE47;
  --green-3: #47F754;
  --green-4: #00B69B;
  --red: #F93C65;
  --dark-green: #1C6A81;
  --color-gold: #F9C80E;
  --navy: #2F4777;
}
